.speech{
    color:black;
    font-family: 'Courier New';
    font-size: medium;
}
.direction{
    color:black;
    font-family:'Franklin Gothic Medium';
    font-size: small;
    background-color: greenyellow;
}
.direction:hover{
    background-color: black;
    color:darkorchid;
}
.henriette{
    color: aquamarine;
}
.jacques{
    color:darkblue;
}
.albert{
    color:blueviolet;
}
table{ 
    border: solid 3px;
    border-collapse: collapse;
}
th, td{
    text-align: left;
    padding: 15px;
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: lightblue;
}
tr:hover{
    background-color: aliceblue;
    opacity: 75%;
}